[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rdkit = "*"
fastapi = "*"
uvicorn = "*"
psycopg2-binary = "*"
asyncpg = "*"
marshmallow = "*"
pandas = "*"
numpy = "*"
loguru = "*"
sqlalchemy = "*"
alembic = "*"
pydantic = "*"
psycopg2 = "*"
python-dotenv = "*"
fastapi-sqlalchemy = "*"
databases = {extras = ["postgresql"], version = "*"}
pydantic-settings = "*"
pytest = "*"
httpx = "*"
greenlet = "*"
pytest-asyncio = "*"
trio = "*"
pytest-ordering = "*"

[dev-packages]

[requires]
python_version = "3.12"
