[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch-cpu"

[packages]
torch = {version = "*", index = "pytorch-cpu"}
rdkit = "*"
fastapi = "*"
uvicorn = "*"
psycopg2-binary = "*"
asyncpg = "*"
marshmallow = "*"
pandas = "*"
numpy = "*"
loguru = "*"
sqlalchemy = "*"
alembic = "*"
pydantic = "*"
psycopg2 = "*"
python-dotenv = "*"
fastapi-sqlalchemy = "*"
databases = {extras = ["postgresql"], version = "*"}
pydantic-settings = "*"
pytest = "*"
httpx = "*"
greenlet = "*"
pytest-asyncio = "*"
trio = "*"
pytest-ordering = "*"
chembl-structure-pipeline = "*"
datamol = "*"
deepchem = "*"
admet-ai = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
